/*
   CSS para el Indice de devildrey33.github.io creado por Josep Antoni Bover Comas el 01/02/2019

        Ultima modificación el 08/03/2019
*/

@charset "UTF-8"; /* Especificar el charset SOLO en este archivo, que es el primero a minificar */

/* Fuente del logo vertical del menú de la izquierda */
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Orbitron');
/* Fuente para las etiquetas h1, h2, h3, h4, h5*/
@import url('https://fonts.googleapis.com/css?family=Karla');

@import url('/CSS/devildrey33_Indice.css');
@import url('/CSS/devildrey33_Logo.css');

/* vermell : rgb(234, 80, 78);*/

html {
    font-size: 100%; /* Conversión para que el rem valga 10 pixeles por defecto en la web */
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;    
}
 

/* 2% del ancho para el tamaño de fuente */
@media screen and (orientation: landscape) and (min-resolution: 1.2dppx) {
    html { font-size: 2vw; } /* viewport width */
}

/* 2% del alto para el tamaño de fuente */
@media screen and (orientation: portrait)  {
    html { font-size: 2vh; }  /* viewport height */
}


body {
    background: #29272C;
    color :#FFF;
    margin:0;
}

body::after {
    content:'';
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgb(41, 39, 44);
    z-index:1;
    opacity:0;
    transition: 0.4s ease-out;
}

body[cargando="true"]::after {
    opacity:0.925;
    z-index:99;
}


h1, h2, h3, h4, h5 { font-family : 'Karla', sans-serif; }

/* Div principal donde se cargarán los contenidos */
#Cuerpo {
    width:calc(100% - 3.6rem);
    transition:0.4s;
    opacity:0.0;
    margin-left:3.6rem;
    z-index:2;
}

#Cuerpo[visible="true"] {
    opacity:1.0;
}





